# python 3.11
#RAG
langchain-community
unstructured
python-docx
chromadb
sentence-transformers
langchain-huggingface
gradio
transformers
accelerate
torch
pyarrow

#IR
pubmed-parser==0.3.1
Whoosh

#Summary
bert-score


# Misc
gensim
tiktoken